In [1]:
from splinter import Browser
from bs4 import BeautifulSoup as bs
import time
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd 
import itertools

In [2]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser1 = Browser('chrome', **executable_path, headless=False)

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 88.0.4324
[WDM] - Get LATEST driver version for 88.0.4324

[WDM] - Driver [C:\Users\lglev_09wmwwo\.wdm\drivers\chromedriver\win32\88.0.4324.96\chromedriver.exe] found in cache

In [3]:
# Visit IMMI
url1 = "https://immi.homeaffairs.gov.au/visas/working-in-australia/skill-occupation-list/regional-postcodes"
browser1.visit(url1)

In [4]:
# Scrape page into Soup
html1 = browser1.html
soup1 = bs(html1, "html.parser")

In [5]:
# list out the details of html
#soup1.prettify()

In [6]:
# Get the postcode table/list
postcodes = soup1.find_all("td")
postcodes

[<td rowspan="2">New South Wales</td>,
 <td>Cities and major regional centres</td>,
 <td>2259, 2264 to 2308, 2500 to 2526, 2528 to 2535 and 2574</td>,
 <td>Regional centres and other regional areas</td>,
 <td>2250 to 2258, 2260 to 2263, 2311 to 2490, 2527, 2536 to    2551, 2575 to 2739, 2753 to 2754, 2756 to 2758 and 2773 to 2898</td>,
 <td rowspan="2">Victoria</td>,
 <td>Cities and major regional centres</td>,
 <td>3211 to 3232, 3235, 3240, 3328, 3330 to 3333, 3340 and 3342</td>,
 <td>Regional centres and other regional areas</td>,
 <td>3097 to 3099, 3139, 3233 to 3234, 3236 to 3239, 3241 to    3325, 3329, 3334, 3341, 3345 to 3424, 3430 to 3799, 3809 to 3909, 3912 to    3971 and 3978 to 3996</td>,
 <td rowspan="2">Queensland</td>,
 <td>Cities and major regional centres</td>,
 <td>4207 to 4275, 4517 to 4519, 4550 to 4551, 4553 to 4562,    4564 to 4569 and 4571 to 4575</td>,
 <td>Regional centres and other regional areas</td>,
 <td>4124 to 4125, 4133, 4183 to 4184, 4280 to 4287, 4306 to    4498, 4507, 4552, 4563, 4570 and 4580 to 4895</td>,
 <td rowspan="2">Western Australia</td>,
 <td>Cities and major regional centres</td>,
 <td>6000 to 6038, 6050 to 6083, 6090 to 6182, 6208 to 6211, 6214 and 6556 to 6558</td>,
 <td>Regional centres and other regional areas</td>,
 <td>All postcodes in Western Australia not mentioned in 'Cities and major regional centres' category above</td>,
 <td rowspan="2">South Australia</td>,
 <td>Cities and major regional centres</td>,
 <td>5000 to 5171, 5173 to 5174, 5231 to 5235, 5240 to 5252,    5351 and 5950 to 5960</td>,
 <td>Regional centres and other regional areas</td>,
 <td>All postcodes in South Australia not mentioned in 'Cities and major regional centres' category above</td>,
 <td rowspan="2">Tasmania</td>,
 <td>Cities and major regional centres</td>,
 <td>7000, 7004 to 7026, 7030 to 7109, 7140 to 7151 and 7170 to    7177</td>,
 <td>Regional centres and other regional areas</td>,
 <td>All postcodes in Tasmania not mentioned in 'Cities and major regional centres' category above</td>,
 <td rowspan="2">Australian Capital Territory</td>,
 <td>Cities and major regional centres</td>,
 <td>All postcodes in the Australian Capital Territory</td>,
 <td>Regional centres and other regional areas</td>,
 <td>None</td>,
 <td rowspan="2">Northern Territory</td>,
 <td>Cities and major regional centres</td>,
 <td>None</td>,
 <td>Regional centres and other regional areas</td>,
 <td>All postcodes in the Northern Territory</td>,
 <td rowspan="2">Norfolk Island</td>,
 <td>Cities and major regional centres</td>,
 <td>None</td>,
 <td>Regional centres and other regional areas</td>,
 <td>All postcodes in Norfolk Island</td>,
 <td rowspan="2">Other Territories</td>,
 <td>Cities and major regional centres</td>,
 <td>None</td>,
 <td>Regional centres and other regional areas</td>,
 <td>All postcodes in a Territory other than the Australian    Capital Territory, the Northern Territory or Norfolk Island</td>]

In [7]:
# Obtain Categories 2 regional code
Cities_and_major_regional_centres = postcodes[7].get_text()
Cities_and_major_regional_centres

'3211 to 3232, 3235, 3240, 3328, 3330 to 3333, 3340 and 3342'

In [8]:
# Formating the list of postcode
a = list(itertools.chain(range(3211, 3233), range(3330, 3334)))
b = [3235, 3240, 3328, 3340, 3342]
Cities_and_major_regional_centres = a + b

# Sort the list of postcode
Cities_and_major_regional_centres.sort()
print(Cities_and_major_regional_centres)

[3211, 3212, 3213, 3214, 3215, 3216, 3217, 3218, 3219, 3220, 3221, 3222, 3223, 3224, 3225, 3226, 3227, 3228, 3229, 3230, 3231, 3232, 3235, 3240, 3328, 3330, 3331, 3332, 3333, 3340, 3342]

In [9]:
# # Obtain Categories 3 regional code
Regional_centres_and_other_regional_areas = postcodes[9].get_text()
Regional_centres_and_other_regional_areas

'3097 to 3099, 3139, 3233 to 3234, 3236 to 3239, 3241 to    3325, 3329, 3334, 3341, 3345 to 3424, 3430 to 3799, 3809 to 3909, 3912 to    3971 and 3978 to 3996'

In [10]:
# Formating the list of postcode
c = list(itertools.chain(range(3097, 3100), range(3233, 3235), range(3236, 3240), range(3241, 3326), range(3345, 3425), range(3430, 3800), range(3809, 3910), range(3912, 3972), range(3978, 3997)))
d = [3139, 3329, 3334, 3341]
Regional_centres_and_other_regional_areas = c + d

# Sort the list of postcode
Regional_centres_and_other_regional_areas.sort()
print(Regional_centres_and_other_regional_areas)

[3097, 3098, 3099, 3139, 3233, 3234, 3236, 3237, 3238, 3239, 3241, 3242, 3243, 3244, 3245, 3246, 3247, 3248, 3249, 3250, 3251, 3252, 3253, 3254, 3255, 3256, 3257, 3258, 3259, 3260, 3261, 3262, 3263, 3264, 3265, 3266, 3267, 3268, 3269, 3270, 3271, 3272, 3273, 3274, 3275, 3276, 3277, 3278, 3279, 3280, 3281, 3282, 3283, 3284, 3285, 3286, 3287, 3288, 3289, 3290, 3291, 3292, 3293, 3294, 3295, 3296, 3297, 3298, 3299, 3300, 3301, 3302, 3303, 3304, 3305, 3306, 3307, 3308, 3309, 3310, 3311, 3312, 3313, 3314, 3315, 3316, 3317, 3318, 3319, 3320, 3321, 3322, 3323, 3324, 3325, 3329, 3334, 3341, 3345, 3346, 3347, 3348, 3349, 3350, 3351, 3352, 3353, 3354, 3355, 3356, 3357, 3358, 3359, 3360, 3361, 3362, 3363, 3364, 3365, 3366, 3367, 3368, 3369, 3370, 3371, 3372, 3373, 3374, 3375, 3376, 3377, 3378, 3379, 3380, 3381, 3382, 3383, 3384, 3385, 3386, 3387, 3388, 3389, 3390, 3391, 3392, 3393, 3394, 3395, 3396, 3397, 3398, 3399, 3400, 3401, 3402, 3403, 3404, 3405, 3406, 3407, 3408, 3409, 3410, 3411, 3412, 3413, 3414, 3415, 3416, 3417, 3418, 3419, 3420, 3421, 3422, 3423, 3424, 3430, 3431, 3432, 3433, 3434, 3435, 3436, 3437, 3438, 3439, 3440, 3441, 3442, 3443, 3444, 3445, 3446, 3447, 3448, 3449, 3450, 3451, 3452, 3453, 3454, 3455, 3456, 3457, 3458, 3459, 3460, 3461, 3462, 3463, 3464, 3465, 3466, 3467, 3468, 3469, 3470, 3471, 3472, 3473, 3474, 3475, 3476, 3477, 3478, 3479, 3480, 3481, 3482, 3483, 3484, 3485, 3486, 3487, 3488, 3489, 3490, 3491, 3492, 3493, 3494, 3495, 3496, 3497, 3498, 3499, 3500, 3501, 3502, 3503, 3504, 3505, 3506, 3507, 3508, 3509, 3510, 3511, 3512, 3513, 3514, 3515, 3516, 3517, 3518, 3519, 3520, 3521, 3522, 3523, 3524, 3525, 3526, 3527, 3528, 3529, 3530, 3531, 3532, 3533, 3534, 3535, 3536, 3537, 3538, 3539, 3540, 3541, 3542, 3543, 3544, 3545, 3546, 3547, 3548, 3549, 3550, 3551, 3552, 3553, 3554, 3555, 3556, 3557, 3558, 3559, 3560, 3561, 3562, 3563, 3564, 3565, 3566, 3567, 3568, 3569, 3570, 3571, 3572, 3573, 3574, 3575, 3576, 3577, 3578, 3579, 3580, 3581, 3582, 3583, 3584, 3585, 3586, 3587, 3588, 3589, 3590, 3591, 3592, 3593, 3594, 3595, 3596, 3597, 3598, 3599, 3600, 3601, 3602, 3603, 3604, 3605, 3606, 3607, 3608, 3609, 3610, 3611, 3612, 3613, 3614, 3615, 3616, 3617, 3618, 3619, 3620, 3621, 3622, 3623, 3624, 3625, 3626, 3627, 3628, 3629, 3630, 3631, 3632, 3633, 3634, 3635, 3636, 3637, 3638, 3639, 3640, 3641, 3642, 3643, 3644, 3645, 3646, 3647, 3648, 3649, 3650, 3651, 3652, 3653, 3654, 3655, 3656, 3657, 3658, 3659, 3660, 3661, 3662, 3663, 3664, 3665, 3666, 3667, 3668, 3669, 3670, 3671, 3672, 3673, 3674, 3675, 3676, 3677, 3678, 3679, 3680, 3681, 3682, 3683, 3684, 3685, 3686, 3687, 3688, 3689, 3690, 3691, 3692, 3693, 3694, 3695, 3696, 3697, 3698, 3699, 3700, 3701, 3702, 3703, 3704, 3705, 3706, 3707, 3708, 3709, 3710, 3711, 3712, 3713, 3714, 3715, 3716, 3717, 3718, 3719, 3720, 3721, 3722, 3723, 3724, 3725, 3726, 3727, 3728, 3729, 3730, 3731, 3732, 3733, 3734, 3735, 3736, 3737, 3738, 3739, 3740, 3741, 3742, 3743, 3744, 3745, 3746, 3747, 3748, 3749, 3750, 3751, 3752, 3753, 3754, 3755, 3756, 3757, 3758, 3759, 3760, 3761, 3762, 3763, 3764, 3765, 3766, 3767, 3768, 3769, 3770, 3771, 3772, 3773, 3774, 3775, 3776, 3777, 3778, 3779, 3780, 3781, 3782, 3783, 3784, 3785, 3786, 3787, 3788, 3789, 3790, 3791, 3792, 3793, 3794, 3795, 3796, 3797, 3798, 3799, 3809, 3810, 3811, 3812, 3813, 3814, 3815, 3816, 3817, 3818, 3819, 3820, 3821, 3822, 3823, 3824, 3825, 3826, 3827, 3828, 3829, 3830, 3831, 3832, 3833, 3834, 3835, 3836, 3837, 3838, 3839, 3840, 3841, 3842, 3843, 3844, 3845, 3846, 3847, 3848, 3849, 3850, 3851, 3852, 3853, 3854, 3855, 3856, 3857, 3858, 3859, 3860, 3861, 3862, 3863, 3864, 3865, 3866, 3867, 3868, 3869, 3870, 3871, 3872, 3873, 3874, 3875, 3876, 3877, 3878, 3879, 3880, 3881, 3882, 3883, 3884, 3885, 3886, 3887, 3888, 3889, 3890, 3891, 3892, 3893, 3894, 3895, 3896, 3897, 3898, 3899, 3900, 3901, 3902, 3903, 3904, 3905, 3906, 3907, 3908, 3909, 3912, 3913, 3914, 3915, 3916, 3917, 3918, 3919, 3920, 3921, 3922, 3923, 3924, 3925, 3926, 3927, 3928, 3929, 3930, 3931, 3932, 3933, 3934, 3935, 3936, 3937, 3938, 3939, 3940, 3941, 3942, 3943, 3944, 3945, 3946, 3947, 3948, 3949, 3950, 3951, 3952, 3953, 3954, 3955, 3956, 3957, 3958, 3959, 3960, 3961, 3962, 3963, 3964, 3965, 3966, 3967, 3968, 3969, 3970, 3971, 3978, 3979, 3980, 3981, 3982, 3983, 3984, 3985, 3986, 3987, 3988, 3989, 3990, 3991, 3992, 3993, 3994, 3995, 3996]

In [11]:
#Combine two categories of regional together to form all the regional area postcodes
Regional_postcode = Cities_and_major_regional_centres + Regional_centres_and_other_regional_areas
Regional_postcode

# Sort the list of postcode
Regional_postcode.sort()
print(Regional_postcode)

[3097, 3098, 3099, 3139, 3211, 3212, 3213, 3214, 3215, 3216, 3217, 3218, 3219, 3220, 3221, 3222, 3223, 3224, 3225, 3226, 3227, 3228, 3229, 3230, 3231, 3232, 3233, 3234, 3235, 3236, 3237, 3238, 3239, 3240, 3241, 3242, 3243, 3244, 3245, 3246, 3247, 3248, 3249, 3250, 3251, 3252, 3253, 3254, 3255, 3256, 3257, 3258, 3259, 3260, 3261, 3262, 3263, 3264, 3265, 3266, 3267, 3268, 3269, 3270, 3271, 3272, 3273, 3274, 3275, 3276, 3277, 3278, 3279, 3280, 3281, 3282, 3283, 3284, 3285, 3286, 3287, 3288, 3289, 3290, 3291, 3292, 3293, 3294, 3295, 3296, 3297, 3298, 3299, 3300, 3301, 3302, 3303, 3304, 3305, 3306, 3307, 3308, 3309, 3310, 3311, 3312, 3313, 3314, 3315, 3316, 3317, 3318, 3319, 3320, 3321, 3322, 3323, 3324, 3325, 3328, 3329, 3330, 3331, 3332, 3333, 3334, 3340, 3341, 3342, 3345, 3346, 3347, 3348, 3349, 3350, 3351, 3352, 3353, 3354, 3355, 3356, 3357, 3358, 3359, 3360, 3361, 3362, 3363, 3364, 3365, 3366, 3367, 3368, 3369, 3370, 3371, 3372, 3373, 3374, 3375, 3376, 3377, 3378, 3379, 3380, 3381, 3382, 3383, 3384, 3385, 3386, 3387, 3388, 3389, 3390, 3391, 3392, 3393, 3394, 3395, 3396, 3397, 3398, 3399, 3400, 3401, 3402, 3403, 3404, 3405, 3406, 3407, 3408, 3409, 3410, 3411, 3412, 3413, 3414, 3415, 3416, 3417, 3418, 3419, 3420, 3421, 3422, 3423, 3424, 3430, 3431, 3432, 3433, 3434, 3435, 3436, 3437, 3438, 3439, 3440, 3441, 3442, 3443, 3444, 3445, 3446, 3447, 3448, 3449, 3450, 3451, 3452, 3453, 3454, 3455, 3456, 3457, 3458, 3459, 3460, 3461, 3462, 3463, 3464, 3465, 3466, 3467, 3468, 3469, 3470, 3471, 3472, 3473, 3474, 3475, 3476, 3477, 3478, 3479, 3480, 3481, 3482, 3483, 3484, 3485, 3486, 3487, 3488, 3489, 3490, 3491, 3492, 3493, 3494, 3495, 3496, 3497, 3498, 3499, 3500, 3501, 3502, 3503, 3504, 3505, 3506, 3507, 3508, 3509, 3510, 3511, 3512, 3513, 3514, 3515, 3516, 3517, 3518, 3519, 3520, 3521, 3522, 3523, 3524, 3525, 3526, 3527, 3528, 3529, 3530, 3531, 3532, 3533, 3534, 3535, 3536, 3537, 3538, 3539, 3540, 3541, 3542, 3543, 3544, 3545, 3546, 3547, 3548, 3549, 3550, 3551, 3552, 3553, 3554, 3555, 3556, 3557, 3558, 3559, 3560, 3561, 3562, 3563, 3564, 3565, 3566, 3567, 3568, 3569, 3570, 3571, 3572, 3573, 3574, 3575, 3576, 3577, 3578, 3579, 3580, 3581, 3582, 3583, 3584, 3585, 3586, 3587, 3588, 3589, 3590, 3591, 3592, 3593, 3594, 3595, 3596, 3597, 3598, 3599, 3600, 3601, 3602, 3603, 3604, 3605, 3606, 3607, 3608, 3609, 3610, 3611, 3612, 3613, 3614, 3615, 3616, 3617, 3618, 3619, 3620, 3621, 3622, 3623, 3624, 3625, 3626, 3627, 3628, 3629, 3630, 3631, 3632, 3633, 3634, 3635, 3636, 3637, 3638, 3639, 3640, 3641, 3642, 3643, 3644, 3645, 3646, 3647, 3648, 3649, 3650, 3651, 3652, 3653, 3654, 3655, 3656, 3657, 3658, 3659, 3660, 3661, 3662, 3663, 3664, 3665, 3666, 3667, 3668, 3669, 3670, 3671, 3672, 3673, 3674, 3675, 3676, 3677, 3678, 3679, 3680, 3681, 3682, 3683, 3684, 3685, 3686, 3687, 3688, 3689, 3690, 3691, 3692, 3693, 3694, 3695, 3696, 3697, 3698, 3699, 3700, 3701, 3702, 3703, 3704, 3705, 3706, 3707, 3708, 3709, 3710, 3711, 3712, 3713, 3714, 3715, 3716, 3717, 3718, 3719, 3720, 3721, 3722, 3723, 3724, 3725, 3726, 3727, 3728, 3729, 3730, 3731, 3732, 3733, 3734, 3735, 3736, 3737, 3738, 3739, 3740, 3741, 3742, 3743, 3744, 3745, 3746, 3747, 3748, 3749, 3750, 3751, 3752, 3753, 3754, 3755, 3756, 3757, 3758, 3759, 3760, 3761, 3762, 3763, 3764, 3765, 3766, 3767, 3768, 3769, 3770, 3771, 3772, 3773, 3774, 3775, 3776, 3777, 3778, 3779, 3780, 3781, 3782, 3783, 3784, 3785, 3786, 3787, 3788, 3789, 3790, 3791, 3792, 3793, 3794, 3795, 3796, 3797, 3798, 3799, 3809, 3810, 3811, 3812, 3813, 3814, 3815, 3816, 3817, 3818, 3819, 3820, 3821, 3822, 3823, 3824, 3825, 3826, 3827, 3828, 3829, 3830, 3831, 3832, 3833, 3834, 3835, 3836, 3837, 3838, 3839, 3840, 3841, 3842, 3843, 3844, 3845, 3846, 3847, 3848, 3849, 3850, 3851, 3852, 3853, 3854, 3855, 3856, 3857, 3858, 3859, 3860, 3861, 3862, 3863, 3864, 3865, 3866, 3867, 3868, 3869, 3870, 3871, 3872, 3873, 3874, 3875, 3876, 3877, 3878, 3879, 3880, 3881, 3882, 3883, 3884, 3885, 3886, 3887, 3888, 3889, 3890, 3891, 3892, 3893, 3894, 3895, 3896, 3897, 3898, 3899, 3900, 3901, 3902, 3903, 3904, 3905, 3906, 3907, 3908, 3909, 3912, 3913, 3914, 3915, 3916, 3917, 3918, 3919, 3920, 3921, 3922, 3923, 3924, 3925, 3926, 3927, 3928, 3929, 3930, 3931, 3932, 3933, 3934, 3935, 3936, 3937, 3938, 3939, 3940, 3941, 3942, 3943, 3944, 3945, 3946, 3947, 3948, 3949, 3950, 3951, 3952, 3953, 3954, 3955, 3956, 3957, 3958, 3959, 3960, 3961, 3962, 3963, 3964, 3965, 3966, 3967, 3968, 3969, 3970, 3971, 3978, 3979, 3980, 3981, 3982, 3983, 3984, 3985, 3986, 3987, 3988, 3989, 3990, 3991, 3992, 3993, 3994, 3995, 3996]

In [12]:
# Close the browser after scraping
browser1.quit()

In [13]:
#Create a dataframe for Metropolitan postcode
df1 = pd.DataFrame(Regional_postcode, columns =['Postcode']) 
df1

     Postcode
0        3097
1        3098
2        3099
3        3139
4        3211
..        ...
754      3992
755      3993
756      3994
757      3995
758      3996

[759 rows x 1 columns]

In [14]:
# inserting Area column to show "Regional" in data frame 
df1.insert(1, "Area", "Regional") 
df1

     Postcode      Area
0        3097  Regional
1        3098  Regional
2        3099  Regional
3        3139  Regional
4        3211  Regional
..        ...       ...
754      3992  Regional
755      3993  Regional
756      3994  Regional
757      3995  Regional
758      3996  Regional

[759 rows x 2 columns]

In [15]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser2 = Browser('chrome', **executable_path, headless=False)

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 88.0.4324
[WDM] - Get LATEST driver version for 88.0.4324

[WDM] - Driver [C:\Users\lglev_09wmwwo\.wdm\drivers\chromedriver\win32\88.0.4324.96\chromedriver.exe] found in cache

In [16]:
# Visit DAWE
url2 = "https://www.agriculture.gov.au/import/online-services/delivery-postcode/summary#victoria"
browser2.visit(url2)

In [17]:
# Scrape page into Soup
html2 = browser2.html
soup2 = bs(html2, "html.parser")

In [18]:
# list out the details of html
#soup2.prettify()

In [19]:
# Get the postcode table/list
postcodes2 = soup2.find_all("strong")
postcodes2

[<strong>2250</strong>,
 <strong>2320</strong>,
 <strong>2324</strong>,
 <strong>2528</strong>,
 <strong>2557</strong>,
 <strong>2570</strong>,
 <strong>2753</strong>,
 <strong>2756</strong>,
 <strong>2000, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024, 2025, 2026, 2027, 2028, 2029, 2030, 2031, 2032, 2033, 2034, 2035, 2036, 2037, 2038, 2039, 2040, 2041, 2042, 2043, 2044, 2045, 2046, 2047, 2048, 2049, 2050, 2051, 2052, 2056, 2057, 2058, 2059, 2060, 2061, 2062, 2063, 2064, 2065, 2066, 2067, 2068, 2069, 2070, 2071, 2072, 2073, 2074, 2075, 2076, 2077, 2079, 2080, 2081, 2082, 2083, 2084, 2085, 2086, 2087, 2088, 2089, 2090, 2091, 2092, 2093, 2094, 2095, 2096, 2097, 2099, 2100, 2101, 2102, 2103, 2104, 2105, 2106, 2107, 2108, 2109, 2110, 2111, 2112, 2113, 2114, 2115, 2116, 2117, 2118, 2119, 2120, 2121, 2122, 2123, 2124, 2125, 2126, 2127, 2128, 2129, 2130, 2131, 2132, 2133, 2134, 2135, 2136, 2137, 2138, 2139, 2140, 2141, 2142, 2143, 2144, 2145, 2146, 2147, 2148, 2150, 2151, 2152, 2153, 2154, 2155, 2156, 2157, 2158, 2159, 2160, 2161, 2162, 2163, 2164, 2165, 2166, 2167, 2168, 2169, 2170, 2171, 2173, 2174, 2175, 2176, 2177, 2178, 2179, 2190, 2191, 2192, 2193, 2194, 2195, 2196, 2197, 2198, 2199, 2200, 2201, 2202, 2203, 2204, 2205, 2206, 2207, 2208, 2209, 2210, 2211, 2212, 2213, 2214, 2216, 2217, 2218, 2219, 2220, 2221, 2222, 2223, 2224, 2225, 2226, 2227, 2228, 2229, 2230, 2231, 2232, 2233, 2234, 2251, 2252, 2256, 2257, 2258, 2259, 2260, 2261, 2262, 2263, 2264, 2267, 2278, 2280, 2281, 2282, 2283, 2284, 2285, 2286, 2287, 2289, 2290, 2291, 2292, 2293, 2294, 2295, 2296, 2297, 2298, 2299, 2300, 2302, 2303, 2304, 2305, 2306, 2307, 2308, 2309, 2310, 2314, 2322, 2323, 2485, 2486, 2500, 2502, 2505, 2506, 2508, 2515, 2516, 2517, 2518, 2519, 2520, 2525, 2526, 2527, 2529, 2530, 2558, 2559, 2560, 2563, 2564, 2565, 2566, 2567, 2568, 2571, 2745, 2746, 2747, 2748, 2749, 2750, 2751, 2754, 2755, 2759, 2760, 2762, 2763, 2764, 2765, 2766, 2767, 2768, 2770, 2761</strong>,
 <strong>2250</strong>,
 <strong>2320</strong>,
 <strong>2324</strong>,
 <strong>2528</strong>,
 <strong>2557</strong>,
 <strong>2570</strong>,
 <strong>2753</strong>,
 <strong>2756</strong>,
 <strong>0822</strong>,
 <strong>0800, 0801, 0810, 0812, 0820, 0828, 0829, 0830, 0835</strong>,
 <strong>0822</strong>,
 <strong>4208</strong>,
 <strong>4306</strong>,
 <strong>4560</strong>,
 <strong>4670</strong>,
 <strong>4680</strong>,
 <strong>4740</strong>,
 <strong>4811</strong>,
 <strong>4818</strong>,
 <strong>4868</strong>,
 <strong>4000, 4005, 4006, 4007, 4008, 4009, 4010, 4011, 4012, 4013, 4014, 4017, 4018, 4019, 4020, 4021, 4022, 4029, 4030, 4031, 4032, 4034, 4035, 4036, 4037, 4051, 4052, 4053, 4054, 4055, 4059, 4060, 4061, 4064, 4065, 4066, 4067, 4068, 4069, 4070, 4072, 4073, 4074, 4075, 4076, 4077, 4078, 4101, 4102, 4103, 4104, 4105, 4106, 4107, 4108, 4109, 4110, 4111, 4112, 4113, 4114, 4115, 4116, 4117, 4118, 4119, 4120, 4121, 4122, 4123, 4125, 4127, 4128, 4129, 4130, 4131, 4132, 4133, 4151, 4152, 4153, 4154, 4155, 4156, 4157, 4158, 4159, 4160, 4161, 4163, 4164, 4165, 4169, 4170, 4171, 4172, 4173, 4174, 4178, 4179, 4205, 4207, 4209, 4210, 4211, 4212, 4213, 4214, 4215, 4216, 4217, 4218, 4219, 4220, 4221, 4222, 4223, 4224, 4225, 4226, 4227, 4228, 4229, 4230, 4231, 4300, 4301, 4303, 4304, 4305, 4500, 4501, 4502, 4503, 4504, 4505, 4506, 4508, 4509, 4510, 4511, 4551, 4553, 4555, 4556, 4557, 4558, 4559, 4564, 4566, 4567, 4572, 4573, 4575, 4810, 4812, 4813, 4814, 4817, 4870</strong>,
 <strong>4208</strong>,
 <strong>4306</strong>,
 <strong>4560</strong>,
 <strong>4670</strong>,
 <strong>4680</strong>,
 <strong>4740</strong>,
 <strong>4811</strong>,
 <strong>4818</strong>,
 <strong>4868</strong>,
 <strong>5114</strong>,
 <strong>5162</strong>,
 <strong>5163</strong>,
 <strong>5501</strong>,
 <strong>5000, 5002, 5003, 5004, 5005, 5006, 5007, 5008, 5009, 5010, 5011, 5012, 5013, 5014, 5015, 5016, 5017, 5018, 5019, 5020, 5021, 5022, 5023, 5024, 5025, 5026, 5027, 5028, 5029, 5030, 5031, 5032, 5033, 5034, 5035, 5037, 5038, 5039, 5040, 5041, 5042, 5043, 5044, 5045, 5046, 5047, 5048, 5049, 5050, 5051, 5052, 5061, 5062, 5063, 5064, 5065, 5066, 5067, 5068, 5069, 5070, 5071, 5072, 5073, 5074, 5075, 5076, 5081, 5082, 5083, 5084, 5085, 5086, 5087, 5088, 5089, 5090, 5091, 5092, 5093, 5094, 5095, 5096, 5097, 5098, 5106, 5107, 5108, 5109, 5110, 5111, 5112, 5113, 5115, 5116, 5117, 5118, 5120, 5121, 5125, 5126, 5158, 5159, 5160, 5161  5164, 5165, 5166, 5167, 5168, 5169, 5170, 5173, 5950</strong>,
 <strong>5114</strong>,
 <strong>5501</strong>,
 <strong>5162</strong>,
 <strong>5163</strong>,
 <strong>7030</strong>,
 <strong>7253</strong>,
 <strong>7310</strong>,
 <strong>7000, 7001, 7002, 7004, 7005, 7006, 7007, 7008 7009, 7010, 7011, 7015, 7018, 7019, 7170, 7248, 7249, 7250, 7320</strong>,
 <strong>7030</strong>,
 <strong>7253</strong>,
 <strong>7310</strong>,
 <strong>3030</strong>,
 <strong>3217</strong>,
 <strong>3228</strong>,
 <strong>3977</strong>,
 <strong>3000, 3002, 3003, 3004, 3005, 3006, 3008, 3011, 3012, 3013, 3015, 3016, 3018, 3019, 3020, 3021, 3022, 3023, 3024, 3025, 3026, 3027, 3028, 3029, 3031, 3032, 3033, 3034, 3036, 3037, 3038, 3039, 3040, 3041, 3042, 3043, 3044, 3045, 3046, 3047, 3048, 3049, 3051, 3052, 3053, 3054, 3055, 3056, 3057, 3058, 3059, 3060, 3061, 3062, 3064, 3065, 3066, 3067, 3068, 3070, 3071, 3072, 3073, 3074, 3075, 3076, 3078, 3079, 3081, 3082, 3083, 3084, 3085, 3087, 3088, 3089, 3090, 3093, 3094, 3095, 3101, 3102, 3103, 3104, 3105, 3106, 3107, 3108, 3109, 3111, 3114, 3116, 3121, 3122, 3123, 3124, 3125, 3126, 3127, 3128, 3129, 3130, 3131, 3132, 3133, 3134, 3135, 3136, 3137, 3138, 3140, 3141, 3142, 3143, 3144, 3145, 3146, 3147, 3148, 3149, 3150, 3151, 3152, 3153, 3155, 3156, 3161, 3162, 3163, 3165, 3166, 3167, 3168, 3169, 3170, 3171, 3172, 3173, 3174, 3175, 3177, 3178, 3179, 3180, 3181, 3182, 3183, 3184, 3185, 3186, 3187, 3188, 3189, 3190, 3191, 3192, 3193, 3194, 3195, 3196, 3197, 3198, 3199, 3200, 3201, 3202, 3204, 3205, 3206, 3207, 3211, 3212, 3214, 3215, 3216, 3218, 3219, 3220, 3221, 3335, 3337, 3338, 3429, 3752, 3754, 3765, 3802, 3803, 3805, 3806, 3807, 3809, 3810, 3910, 3930, 3931, 3975, 3976</strong>,
 <strong>3030</strong>,
 <strong>3217: </strong>,
 <strong>3228: </strong>,
 <strong>3977</strong>,
 <strong>6077</strong>,
 <strong>6230</strong>,
 <strong>6450</strong>,
 <strong>6713</strong>,
 <strong>6714</strong>,
 <strong>6000, 6003, 6004, 6005, 6006, 6007, 6008, 6009, 6010, 6011, 6012, 6014, 6015, 6016, 6017, 6018, 6019, 6020, 6021, 6022, 6023, 6024, 6025, 6026, 6027, 6028, 6029, 6030, 6031, 6050, 6051, 6052, 6053, 6054, 6055, 6056, 6057, 6058, 6059, 6060, 6061, 6062, 6063, 6064, 6065, 6066, 6067, 6068, 6069, 6072, 6073, 6076, 6081, 6084, 6090, 6100, 6101, 6102, 6103, 6104, 6105, 6106, 6107, 6108, 6109, 6110, 6111, 6112, 6121, 6122, 6123, 6147, 6148, 6149, 6150, 6151, 6152, 6153, 6154, 6155, 6156, 6157, 6158, 6159, 6160, 6162, 6163, 6164, 6165, 6166, 6167, 6168, 6169, 6170, 6171, 6172, 6173, 6174, 6175, 6176, 6210</strong>,
 <strong>6077</strong>,
 <strong>6230</strong>,
 <strong>6450</strong>,
 <strong>6713</strong>,
 <strong>6714</strong>,
 <strong>Call 1800 900 090</strong>,
 <strong>Last reviewed: </strong>]

In [20]:
# Obtain metro postcode
Metropolitan_postcode = postcodes2[59].get_text()

# separate the postcode by using split
Metropolitan_postcode = Metropolitan_postcode.split(', ')

In [21]:
# Add Split postcodes to metro postcode
Metropolitan_postcode.append(postcodes2[55].get_text())
Metropolitan_postcode.append(postcodes2[56].get_text())
Metropolitan_postcode.append(postcodes2[57].get_text())
Metropolitan_postcode.append(postcodes2[58].get_text())

In [22]:
# Sort the postcode in order
Metropolitan_postcode.sort()
Metropolitan_postcode

['3000',
 '3002',
 '3003',
 '3004',
 '3005',
 '3006',
 '3008',
 '3011',
 '3012',
 '3013',
 '3015',
 '3016',
 '3018',
 '3019',
 '3020',
 '3021',
 '3022',
 '3023',
 '3024',
 '3025',
 '3026',
 '3027',
 '3028',
 '3029',
 '3030',
 '3031',
 '3032',
 '3033',
 '3034',
 '3036',
 '3037',
 '3038',
 '3039',
 '3040',
 '3041',
 '3042',
 '3043',
 '3044',
 '3045',
 '3046',
 '3047',
 '3048',
 '3049',
 '3051',
 '3052',
 '3053',
 '3054',
 '3055',
 '3056',
 '3057',
 '3058',
 '3059',
 '3060',
 '3061',
 '3062',
 '3064',
 '3065',
 '3066',
 '3067',
 '3068',
 '3070',
 '3071',
 '3072',
 '3073',
 '3074',
 '3075',
 '3076',
 '3078',
 '3079',
 '3081',
 '3082',
 '3083',
 '3084',
 '3085',
 '3087',
 '3088',
 '3089',
 '3090',
 '3093',
 '3094',
 '3095',
 '3101',
 '3102',
 '3103',
 '3104',
 '3105',
 '3106',
 '3107',
 '3108',
 '3109',
 '3111',
 '3114',
 '3116',
 '3121',
 '3122',
 '3123',
 '3124',
 '3125',
 '3126',
 '3127',
 '3128',
 '3129',
 '3130',
 '3131',
 '3132',
 '3133',
 '3134',
 '3135',
 '3136',
 '3137',
 '3138',
 '3140',
 '3141',
 '3142',
 '3143',
 '3144',
 '3145',
 '3146',
 '3147',
 '3148',
 '3149',
 '3150',
 '3151',
 '3152',
 '3153',
 '3155',
 '3156',
 '3161',
 '3162',
 '3163',
 '3165',
 '3166',
 '3167',
 '3168',
 '3169',
 '3170',
 '3171',
 '3172',
 '3173',
 '3174',
 '3175',
 '3177',
 '3178',
 '3179',
 '3180',
 '3181',
 '3182',
 '3183',
 '3184',
 '3185',
 '3186',
 '3187',
 '3188',
 '3189',
 '3190',
 '3191',
 '3192',
 '3193',
 '3194',
 '3195',
 '3196',
 '3197',
 '3198',
 '3199',
 '3200',
 '3201',
 '3202',
 '3204',
 '3205',
 '3206',
 '3207',
 '3211',
 '3212',
 '3214',
 '3215',
 '3216',
 '3217',
 '3218',
 '3219',
 '3220',
 '3221',
 '3228',
 '3335',
 '3337',
 '3338',
 '3429',
 '3752',
 '3754',
 '3765',
 '3802',
 '3803',
 '3805',
 '3806',
 '3807',
 '3809',
 '3810',
 '3910',
 '3930',
 '3931',
 '3975',
 '3976',
 '3977']

In [23]:
# Close the browser after scraping
browser2.quit()

In [24]:
#Create a dataframe for Metropolitan postcode
df2 = pd.DataFrame(Metropolitan_postcode, columns =['Postcode']) 
df2

    Postcode
0       3000
1       3002
2       3003
3       3004
4       3005
..       ...
197     3930
198     3931
199     3975
200     3976
201     3977

[202 rows x 1 columns]

In [25]:
# inserting Area column to show "Metropolitan" in data frame 
df2.insert(1, "Area", "Metropolitan") 
df2

    Postcode          Area
0       3000  Metropolitan
1       3002  Metropolitan
2       3003  Metropolitan
3       3004  Metropolitan
4       3005  Metropolitan
..       ...           ...
197     3930  Metropolitan
198     3931  Metropolitan
199     3975  Metropolitan
200     3976  Metropolitan
201     3977  Metropolitan

[202 rows x 2 columns]

In [26]:
# Concatenating Regional postcode dataframe (df1) and Metropolitan postcode dataframe (df2)
Final_postcode = [df1, df2]
Final_postcode = pd.concat(Final_postcode)
Final_postcode

    Postcode          Area
0       3097      Regional
1       3098      Regional
2       3099      Regional
3       3139      Regional
4       3211      Regional
..       ...           ...
197     3930  Metropolitan
198     3931  Metropolitan
199     3975  Metropolitan
200     3976  Metropolitan
201     3977  Metropolitan

[961 rows x 2 columns]

In [27]:
# Covert the type of "Postcode" column and sorting by ascending base on the postcode
Final_postcode['Postcode'] = Final_postcode['Postcode'].astype(str)
Final_postcode.sort_values(by='Postcode', ascending=True, inplace=True)
Final_postcode

    Postcode          Area
0       3000  Metropolitan
1       3002  Metropolitan
2       3003  Metropolitan
3       3004  Metropolitan
4       3005  Metropolitan
..       ...           ...
754     3992      Regional
755     3993      Regional
756     3994      Regional
757     3995      Regional
758     3996      Regional

[961 rows x 2 columns]

In [28]:
# Export Final_postcode dataframe into a csv file
Final_postcode.to_csv("../Resources/Web_Scraping_Postcode.csv", index =False)